body{
    background-color: rgba(231, 231, 231, 0.726);
}

.api_call_buttons{
    background-color: rgba(22, 22, 22, 0.719);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    padding: 15px 0px 15px 0px;
}

.button{
    color: white;
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    outline-style: none;
    border: none;
}

.button:hover{
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 8px;
}
.selected{
    padding: 5px;
    font-size: 18px;
    outline-style: none;
    border: none;
    background-color:  rgba(216, 216, 216, 0.897);
    border-radius: 8px;
}
.filter{
    flex: 0 0 100%;
    padding: 10px 0px 30px 0px;
}
.card_id{
    position: relative;
    left: -20px;
    top: -20px;
    font-size: 1.5vh;
}
.user_data{
    display: flex;
    flex-wrap: wrap;
    padding: 5vh;
    justify-content: space-between;
}

.user_info{
    margin: 2vh;
    padding: 5vh;
    font-size: 1.5vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
    width: 30vh;
}

.user_info img{
    width: 30vh;
    height: 30vh;
}
