.api_call_buttons{
    display: flex;
    justify-content: space-evenly;
    width: 540px;
    margin-top: 50px;

}
.api_call_buttons button{
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    outline-style: none;
    border: none;
    
}

.api_call_buttons button:hover{
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 8px;
}

.card_id{
    position: relative;
    left: -20px;
    top: -20px;
    font-size: 1.5vh;
}
.user_data{
    display: flex;
    flex-wrap: wrap;
    padding: 5vh;
    justify-content: space-between;
}

.user_info{
    margin: 2vh;
    padding: 5vh;
    font-size: 1.5vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.308);
}